{{> fragment.header.hbs }}

import { useCallback, useEffect, useRef, useState, lazy, Suspense } from 'react';
{{# unless (containerIsEmptyDashboard page.container) }}
  import { OBJECTCLASS } from '@pandino/pandino-api';
  import type { JudoIdentifiable } from '@judo/data-api-common';
  import { useTranslation } from 'react-i18next';
  import { useParams } from 'react-router-dom';
  import { useSnackbar } from 'notistack';
  import type { GridFilterModel } from '@mui/x-data-grid{{ getMUIDataGridPlanSuffix }}';
  import type { Filter, FilterOption } from '~/components-api';
  import { useJudoNavigation } from '~/components';
  import { useConfirmDialog, useDialog, useFilterDialog } from '~/components/dialog';
  import { toastConfig } from '~/config';
  import {
    passesLocalValidation,
    uiDateToServiceDate,
    uiTimeToServiceTime,
    useErrorHandler,
    ERROR_PROCESSOR_HOOK_INTERFACE_KEY,
  } from '~/utilities';
  import { PageContainerTransition } from '~/theme/animations';
  {{# each (getRelatedPages page) as |relatedPage| }}
    import { routeTo{{ pageName relatedPage }} } from '~/routes';
  {{/ each }}
  import type { {{ containerComponentName page.container }}PageActions } from '~/containers/{{ containerPath page.container }}/{{ containerComponentName page.container }}PageContainer';
  import type {
    {{# each (getApiImportsForPage page) as |imp| }}
      {{ imp }},
    {{/ each }}
  } from '~/generated/data-api';
  {{# if (getServiceImplForPage page) }}
      import { {{ getServiceImplForPage page }} } from '~/generated/data-axios';
  {{/ if }}
{{/ unless }}

{{# unless (containerIsEmptyDashboard page.container) }}
  {{# unless page.container.table }}
    {{# if isDebugPrint }}// include: actor/src/fragments/page/payload-converter.fragment.hbs{{/ if }}
    {{> actor/src/fragments/page/payload-converter.fragment.hbs classType=page.dataElement.target page=page }}
  {{/ unless }}

  const {{ containerComponentName page.container }}PageContainer = lazy(() => import('~/containers/{{ containerPath page.container }}/{{ containerComponentName page.container }}PageContainer'));
{{/ unless }}

// Name: {{ page.name }}
export default function {{ pageName page }}() {
  {{# unless (containerIsEmptyDashboard page.container) }}
    {{# if (pageHasSignedId page) }}
      // Router params section
      const { signedIdentifier } = useParams();
    {{/ if }}

    // Hooks section
    const { t } = useTranslation();
    const { enqueueSnackbar } = useSnackbar();
    const { navigate, back } = useJudoNavigation();
    const { openFilterDialog } = useFilterDialog();
    const { openConfirmDialog } = useConfirmDialog();
    const handleFetchError = useErrorHandler(`(&(${OBJECTCLASS}=${ERROR_PROCESSOR_HOOK_INTERFACE_KEY})(operation=Fetch))`);
    const handleUpdateError = useErrorHandler<{{ classDataName (getReferenceClassType page) '' }}>(`(&(${OBJECTCLASS}=${ERROR_PROCESSOR_HOOK_INTERFACE_KEY})(operation=Update)(component={{ pageName page }}))`);
    const handleDeleteError = useErrorHandler(`(&(${OBJECTCLASS}=${ERROR_PROCESSOR_HOOK_INTERFACE_KEY})(operation=Delete)(component={{ pageName page }}))`);
    const [createDialog, closeDialog] = useDialog();

    // State section
    const [isLoading, setIsLoading] = useState<boolean>(false);
    const [editMode, setEditMode] = useState<boolean>(false);
    const [refreshCounter, setRefreshCounter] = useState<number>(0);
    {{# unless page.container.table }}
      const [data, setData] = useState<{{ classDataName (getReferenceClassType page) 'Stored' }}>({} as {{ classDataName (getReferenceClassType page) 'Stored' }});
      const [validation, setValidation] = useState<Map<keyof {{ classDataName (getReferenceClassType page) '' }}, string>>(new Map<keyof {{ classDataName (getReferenceClassType page) '' }}, string>());

      // Ref section
      const payloadDiff = useRef<Record<keyof {{ classDataName (getReferenceClassType page) 'Stored' }}, any>>({} as unknown as Record<keyof {{ classDataName (getReferenceClassType page) 'Stored' }}, any>);

      // Callback section
      const storeDiff: (attributeName: keyof {{ classDataName (getReferenceClassType page) '' }}, value: any) => void = useCallback((attributeName: keyof {{ classDataName (getReferenceClassType page) '' }}, value: any) => {
        {{# if isDebugPrint }}// include: actor/src/fragments/page/store-diff-body.hbs{{/ if }}
        {{> actor/src/fragments/page/store-diff-body.hbs classType=page.dataElement.target page=page }}
      }, [data, editMode]);
      const isFormUpdateable = useCallback(() => {
        {{# if page.container.form }}
          return true;
        {{ else }}
          return {{ boolValue (isPageUpdateable page) }} && typeof data?.__updateable === 'boolean' && data?.__updateable;
        {{/ if }}
      }, [data]);
      const isFormDeleteable = useCallback(() => {
        {{# if page.container.form }}
          return false;
        {{ else }}
          return {{ boolValue (isPageDeleteable page) }} && typeof data?.__deleteable === 'boolean' && data?.__deleteable;
        {{/ if }}
      }, [data]);

      {{# if page.container.view }}
        const pageQueryCustomizer: {{ classDataName (getReferenceClassType page) 'QueryCustomizer' }} = {
          _mask: '{{ getMaskForView page.container }}',
        };
      {{/ if }}
    {{/ unless }}

    // Calculated section
    {{# if (titleComesFromAttribute page.container) }}
      const title: string = data.{{ page.container.titleAttribute.name }} as string;
    {{ else }}
      const title: string = t('{{ getTranslationKeyForPage page }}', { defaultValue: '{{ page.label }}' });
    {{/ if }}

    // Action section
    {{# each page.actions as |action| }}
      {{> (getActionTemplate action) }}
    {{/ each }}

    const actions: {{ containerComponentName page.container }}PageActions = {
      {{# each page.actions as |action| }}
        {{ simpleActionDefinitionName action.actionDefinition }},
      {{/ each }}
    };

    // Effect section
    {{# if (pageShouldInitialize page) }}
      useEffect(() => {
        actions.{{ simpleActionDefinitionName page.container.onInit }}!({{# if page.container.view }}pageQueryCustomizer{{/ if }});
      }, []);
    {{/ if }}
  {{/ unless }}

  return (
    <>
      {{# unless (containerIsEmptyDashboard page.container) }}
        <Suspense>
          <PageContainerTransition>
            <{{ containerComponentName page.container }}PageContainer
              title={title}
              actions={actions}
              isLoading={isLoading}
              editMode={editMode}
              refreshCounter={refreshCounter}
              {{# unless (containerIsEmptyDashboard page.container) }}
                {{# unless page.container.table }}
                  data={data}
                  storeDiff={storeDiff}
                  isFormUpdateable={isFormUpdateable}
                  isFormDeleteable={isFormDeleteable}
                  validation={validation}
                  setValidation={setValidation}
                {{/ unless }}
              {{/ unless }}
            />
          </PageContainerTransition>
        </Suspense>
      {{ else }}
        <h1>Hello!</h1>
      {{/ unless }}
    </>
  );
}
