{{# if child.hiddenBy }} { !data.{{ child.hiddenBy.name }} && {{/ if }}
<Grid item xs={12} {{# neq (calculateSize child) 12.0 }}sm={ {{ calculateSize child }} }{{/ neq }}>
    <Grid container spacing={2}>
        {{# if child.customImplementation }}
            <ComponentProxy
                filter={`(&(${OBJECTCLASS}=${CUSTOM_VISUAL_ELEMENT_INTERFACE_KEY})(component=${ {{~ getCustomizationComponentInterfaceKey child ~}} }))`}
                data={data}
                validation={validation}
                editMode={editMode}
                storeDiff={storeDiff}
                payloadDiff={payloadDiff}
            >
        {{/ if }}
        {{# each (featuredActionsForActionGroup child) as |button| }}
            {{# if button.hiddenBy }}{ !data.{{ button.hiddenBy.name }} }} && {{/ if }}
            <Grid item>
                <LoadingButton
                    id="{{ createId button }}"
                    loading={isLoading}
                    {{# if button.icon }}
                        startIcon={<MdiIcon path="{{ button.icon.name }}" />}
                        loadingPosition="start"
                    {{/ if }}
                    onClick={ async () => {
                        try {
                            setIsLoading(true);
                            await {{ actionFunctionName button.action }}({{# if button.action.operation.isMapped }}data, {{/ if }}() => fetchData());
                        } finally {
                            setIsLoading(false);
                        }
                    } }
                    disabled={ {{# if child.enabledBy }}!data.{{ child.enabledBy.name }} ||{{/ if }} editMode }
                >
                    <span>{ t('{{ getTranslationKeyForButton button '' }}', { defaultValue: '{{ button.label }}' }) }</span>
                </LoadingButton>
            </Grid>
            {{# if action.hiddenBy }} } {{/ if }}
        {{/ each }}
        {{# if (displayDropdownForActionGroup child) }}
            <Grid item>
                <DropdownButton
                    id="{{ createId child }}-action-group"
                    disabled={ {{# if child.enabledBy }}!data.{{ child.enabledBy.name }} ||{{/ if }} isLoading || editMode }
                    {{# if child.icon }}
                        startIcon={ <MdiIcon path="{{ child.icon.name }}" /> }
                    {{/ if }}
                    menuItems={[
                        {{# each (nonFeaturedActionsForActionGroup child) as |button| }}
                            {
                                id: '{{ createId button }}',
                                label: t('{{ getTranslationKeyForButton button 'grouped' }}', { defaultValue: '{{ button.label }}' }) as string,
                                onClick: async () => {
                                    try {
                                        setIsLoading(true);
                                        await {{ actionFunctionName button.action }}({{# if button.action.operation.isMapped }}data, {{/ if }}() => fetchData());
                                    } finally {
                                        setIsLoading(false);
                                    }
                                },
                                startIcon: <MdiIcon path="arrow_right" />,
                                disabled: {{# if button.enabledBy }}!data.{{ button.enabledBy.name }} ||{{/ if }} isLoading || editMode,
                                {{# if button.hiddenBy }}visible: !data.{{ button.hiddenBy.name }},{{/ if }}
                            },
                        {{/ each }}
                    ]}
                >
                    { t('{{ getTranslationKeyForVisualElement child }}', { defaultValue: '{{ child.label }}' }) }
                </DropdownButton>
            </Grid>
        {{/ if }}
        {{# if child.customImplementation }}
            </ComponentProxy>
        {{/ if }}
    </Grid>
</Grid>
{{# if child.hiddenBy }} } {{/ if }}
