{{> fragment.header.hbs }}

import { {{# unless page.container.table }}useEffect, {{/ unless }}useCallback, useRef, useState, useMemo, lazy, Suspense } from 'react';
import { OBJECTCLASS } from '@pandino/pandino-api';
{{# if (containerIsEmptyDashboard page.container) }}
  import { ComponentProxy } from '@pandino/react-hooks';
  import { CUSTOM_VISUAL_ELEMENT_INTERFACE_KEY } from '~/custom';
{{/ if }}
{{# unless (containerIsEmptyDashboard page.container) }}
  import type { FC, ReactNode, Dispatch, SetStateAction } from 'react';
  import { useTrackService } from '@pandino/react-hooks';
  import type { JudoIdentifiable } from '~/services/data-api/common/JudoIdentifiable';
  import { draftIdentifierPrefix } from '~/services/data-api/common/utils';
  import type { JudoRestResponse } from '~/services/data-api/rest/requestResponse';
  {{# if (containerHasTableWithTotalCount page.container) }}
  import { X_JUDO_COUNT_RECORDS } from '~/services/data-api/rest/headers';
  {{/ if }}
  import { useTranslation } from 'react-i18next';
  import { v4 as uuidv4 } from 'uuid';
  {{# if (pageHasSignedId page) }}
  import { useParams } from 'react-router-dom';
  {{/ if }}
  {{# if (containerHasTable page.container) }}
  import type { GridFilterModel } from '@mui/x-data-grid{{ getMUIDataGridPlanSuffix }}';
  import type { Filter, FilterOption } from '~/components-api';
  {{/ if }}
  import { useJudoNavigation } from '~/components';
  import { useConfirmDialog, useFilterDialog } from '~/components/dialog';
  import { useSnacks, useCRUDDialog, useViewData, useEventBus } from '~/hooks';
  import {
    {{# if (hasPageRequiredBy page) }}passesLocalValidation,{{/ if }}
    processQueryCustomizer,
    useErrorHandler,
    simpleCloneDeep,
    getValue,
    setValue,
    {{# if (hasExportAction page) }}fileHandling,{{/ if }}
  } from '~/utilities';
  import type {
    DialogResult,
  } from '~/utilities';
  import { PageContainerTransition } from '~/theme/animations';
  {{# each (getRelatedPages page) as |relatedPage| }}
    import { {{ calculateNavigationRoute relatedPage }} } from '~/routes';
  {{/ each }}
  {{# each (getRelatedDialogs page false) as |relatedDialog| }}
    import { use{{ pageName relatedDialog }} } from '~/dialogs/{{ pagePath relatedDialog }}/hooks';
  {{/ each }}
  import type { {{ containerComponentName page.container }}PageActions, {{ containerComponentName page.container }}PageProps } from '~/containers/{{ containerPath page.container }}/types';
  {{# each (getApiImportsForPage page) as |imp| }}
    import type { {{ classDataName imp '' }}, {{ classDataName imp 'Stored' }} } from '~/services/data-api/model/{{ classDataName imp '' }}';
    import type { {{ classDataName imp 'QueryCustomizer' }} } from '~/services/data-api/rest/{{ classDataName imp 'QueryCustomizer' }}';
  {{/ each }}
  {{# each (getEnumDataTypesForPage page) as |imp| }}
    import { {{ restParamName imp }} } from '~/services/data-api/model/{{ restParamName imp }}';
  {{/ each }}
  {{# if (getServiceImplForPage page) }}
    import { judoAxiosProvider } from '~/services/data-axios/JudoAxiosProvider';
    import { {{ getServiceClassForPage page }} } from '~/services/data-axios/{{ getServiceClassForPage page }}';
    {{# each (getRelatedServicesForPage page) as |rel| }}
    import { {{ serviceRelationName rel }}Impl } from '~/services/data-axios/{{ serviceRelationName rel }}Impl';
    {{/ each }}
  {{/ if }}
  import { {{ containerComponentName page.container }}ViewModelContext, type {{ containerComponentName page.container }}ViewModel } from './context';
  import type { {{ containerComponentName page.container }}PageActionsExtended } from './types';
  import type { {{ containerComponentName page.container }}ActionsHook } from './customization';
  import { {{ camelCaseNameToInterfaceKey (pageName page) }}_ACTIONS_HOOK_INTERFACE_KEY } from './customization';
{{/ unless }}

{{# if (containerIsEmptyDashboard page.container) }}
  export const DASHBOARD_PAGE_INTERFACE_KEY = 'DashboardPage';
{{/ if }}

{{# unless (containerIsEmptyDashboard page.container) }}
  const {{ containerComponentName page.container }}PageContainer = lazy(() => import('~/containers/{{ containerPath page.container }}/{{ containerComponentName page.container }}PageContainer'));
{{/ unless }}

// XMIID: {{ getXMIID page }}
// Name: {{ page.name }}
export default function {{ pageName page }}() {
  {{# unless (containerIsEmptyDashboard page.container) }}
    const dataPath: string = '';
    const rootPageId: string | undefined = undefined;
    const isDraft = false;
    const owner = useRef<any>(null);

    {{# if (pageHasSignedId page) }}
      // Router params section
      const { signedIdentifier } = useParams();
      {{# if page.container.table }}
        owner.current = { __signedIdentifier: signedIdentifier };
      {{/ if }}
    {{/ if }}

    // Services
    const {{ firstToLower (getServiceImplForPage page) }} = useMemo(() => new {{ getServiceClassForPage page }}(judoAxiosProvider), []);
    {{# each (getRelatedServicesForPage page) as |rel| }}
    const {{ firstToLower (serviceRelationName rel) }}Impl = useMemo(() => new {{ serviceRelationName rel }}Impl(judoAxiosProvider), []);
    {{/ each }}

    // Hooks section
    const { t } = useTranslation();
    const { showSuccessSnack, showErrorSnack } = useSnacks();
    const { navigate, back: navigateBack } = useJudoNavigation();
    const { openFilterDialog } = useFilterDialog();
    const { openConfirmDialog } = useConfirmDialog();
    const { setLatestViewData, setRouterPageData } = useViewData();
    const { publish, subscribe } = useEventBus();
    const handleError = useErrorHandler();
    const openCRUDDialog = useCRUDDialog();
    {{# if (hasExportAction page) }}
    const { exportFile } = fileHandling();
    {{/ if }}

    // State section
    const [isLoading, setIsLoading] = useState<boolean>(false);
    const [editMode, setEditMode] = useState<boolean>({{# if page.container.form }}true{{ else }}false{{/ if }});
    const [refreshCounter, setRefreshCounter] = useState<number>(0);
    const [data, setData] = useState<{{ classDataName (getReferenceClassType page) 'Stored' }}{{# if page.container.table }}[]{{/ if }}>({{# if page.container.table }}[]{{ else }}{ {{# if (pageHasSignedId page) }}__signedIdentifier: signedIdentifier{{/ if }} } as {{ classDataName (getReferenceClassType page) 'Stored' }}{{/ if }});
    {{# if page.container.isSelector }}
      const [selectionDiff, setSelectionDiff] = useState<{{ classDataName (getReferenceClassType page) 'Stored' }}[]>([]);
    {{/ if }}
    {{# unless page.container.table }}
      const [validation, setValidation] = useState<Map<keyof {{ classDataName (getReferenceClassType page) '' }}, string>>(new Map<keyof {{ classDataName (getReferenceClassType page) '' }}, string>());

      // Ref section
      {{# if (isSingleAccessPage page) }}
        const singletonHost = useRef<{ __signedIdentifier: string }>({} as unknown as { __signedIdentifier: string });
      {{/ if }}

      // Callback section
      const storeDiff: (attributeName: keyof {{ classDataName (getReferenceClassType page) '' }}, value: any) => void = useCallback((attributeName: keyof {{ classDataName (getReferenceClassType page) '' }}, value: any) => {
        {{# if isDebugPrint }}// include: actor/src/fragments/page/store-diff-body.hbs{{/ if }}
        {{> actor/src/fragments/page/store-diff-body.hbs classType=page.dataElement.target page=page }}
      }, [data, editMode]);
      const isFormUpdateable = useCallback(() => {
        {{# if page.container.form }}
          return true;
        {{ else }}
          return {{ boolValue (isPageUpdateable page) }} && typeof data?.__updateable === 'boolean' && data?.__updateable;
        {{/ if }}
      }, [data]);
      const isFormDeleteable = useCallback(() => {
        {{# if page.container.form }}
          return false;
        {{ else }}
          return {{ boolValue (isPageDeleteable page) }} && typeof data?.__deleteable === 'boolean' && data?.__deleteable;
        {{/ if }}
      }, [data]);

      {{# if page.container.view }}
        const getPageQueryCustomizer: () => {{ classDataName (getReferenceClassType page) 'QueryCustomizer' }} = () => ({
          _mask: actions.getMask ? actions.getMask!() : '{{ serializeMaskForView page }}',
        });
      {{/ if }}
    {{/ unless }}

    // Masks
    {{# if page.container.table }}
      {{# with (getFirstTableForContainer page.container) as |table| }}
        const getMask: () => string = () => {
          return '{{ serializeMaskForTable table page }}';
        };
      {{/ with }}
    {{/ if }}
    {{# if page.container.view }}
      const getMask = () => '{{ serializeMaskForView page }}';
    {{/ if }}
    {{# unless page.container.table }}
      {{# each page.container.links as |link| }}
        const get{{ firstToUpper link.relationType.name }}Mask = () => '{{ serializeMaskForLink link page }}';
      {{/ each }}
      {{# each page.container.tables as |table| }}
        const get{{ firstToUpper table.relationName }}Mask = () => '{{ serializeMaskForTable table page }}';
      {{/ each }}
    {{/ unless }}

    // Private actions
    const submit = async () => {
      {{# with (getCreateActionForPage page) as |action| }}
        await {{ simpleActionDefinitionName action.actionDefinition }}();
      {{/ with }}
      {{# with (getUpdateActionForPage page) as |action| }}
        await {{ simpleActionDefinitionName action.actionDefinition }}();
      {{/ with }}
      {{# with (getCallOperationActionForPage page) as |action| }}
        await {{ simpleActionDefinitionName action.actionDefinition }}();
      {{/ with }}
    };
    const refresh = async (forced = false) => {
      {{# if page.container.table }}
        setRefreshCounter((prev) => prev + 1);
      {{/ if }}
      {{# if page.container.view }}
        if (!editMode || forced) {
          {{# with (getRefreshActionDefinitionForContainer page.container) as |refreshActionDefinition| }}
            if (actions.{{ simpleActionDefinitionName refreshActionDefinition }}) {
              await actions.{{ simpleActionDefinitionName refreshActionDefinition }}!(processQueryCustomizer(getPageQueryCustomizer()));
            }
          {{/ with }}
        }
      {{/ if }}
    };
    const produceDataAdjustedOwner = useCallback(() => {
      const copy = simpleCloneDeep(owner.current);
      setValue(copy, dataPath, simpleCloneDeep(data));
      return copy;
    }, [data, owner]);

    // Validation
    {{# unless page.container.table }}
    const validate: (target: any) => Promise<void> = useCallback(async (target) => {
      {{# if (isValidationSupported page) }}
        await {{ getServiceImplForPage page }}.validateUpdate({{# unless page.dataElement.isAccess }}null as any, {{/ unless }}target);
      {{/ if }}
    }, [{{# if (isValidationSupported page) }}data, {{ getServiceImplForPage page }}{{/ if }}]);
    {{/ unless }}

    // Pandino Action overrides
    const { service: customActionsHook } = useTrackService<{{ containerComponentName page.container }}ActionsHook>(`(${OBJECTCLASS}=${ {{~ camelCaseNameToInterfaceKey (pageName page) }}_ACTIONS_HOOK_INTERFACE_KEY})`);
    const customActions: {{ containerComponentName page.container }}PageActionsExtended | undefined = customActionsHook?.({{ pageHookCallParams page }});

    // Dialog hooks
    {{# each (getRelatedDialogs page false) as |relatedDialog| }}
      const open{{ pageName relatedDialog }} = use{{ pageName relatedDialog }}();
    {{/ each }}

    // Action section
    {{> actor/src/pages/actions/_getPageTitle.fragment.hbs }}
    {{# each page.actions as |action| }}
      {{> (getActionTemplate action) }}
    {{/ each }}
    {{# if (isSingleAccessPage page) }}
      const getSingletonPayload = async (): Promise<JudoIdentifiable<any>> => {
        const { data: sp } = await {{ getServiceImplForPage page }}.refreshFor{{ firstToUpper page.dataElement.name }}({
          _mask: '{}',
        });
        return sp;
      }
    {{/ if }}
    {{# each page.container.tables as |table| }}
      {{# if table.isInlineEditable }}
        const apply{{ firstToUpper table.relationName }}RowEdit = async (rowData: {{ classDataName (getReferenceClassType table) 'Stored' }}): Promise<any> => {
          try {
            {{# if table.isEager }}
              // we need to create a copy to keep order, and because mui datagrid freezes elements, and crashes on reference updates
              const updatedList = [...(data.{{ table.relationName }} || [])];
              const existingIndex = updatedList.findIndex(r => r.__identifier === rowData.__identifier);
              updatedList[existingIndex] = {
                ...rowData,
              };
              storeDiff('{{ table.dataElement.name }}', updatedList);
            {{ else }}
              setIsLoading(true);
              if (rowData.__identifier!.startsWith(draftIdentifierPrefix)) {
                const queryCustomizer: { _mask: string } = {
                  _mask: '{}',
                };
                await {{ getServiceImplForPage page }}.create{{ firstToUpper table.relationName }}({{# unless page.dataElement.isAccess }}{ __signedIdentifier: signedIdentifier } as any, {{/ unless }}rowData, queryCustomizer);
                showSuccessSnack(t('judo.action.create.success', { defaultValue: 'Create successful' }));
              } else {
                await {{ getServiceImplForPage page }}.update{{ firstToUpper table.relationName }}({{# unless page.dataElement.isAccess }}{ __signedIdentifier: signedIdentifier } as any, {{/ unless }}rowData);
                showSuccessSnack(t('judo.action.save.success', { defaultValue: 'Changes saved' }));
              }
              await refresh();
            {{/ if }}
          } catch(error) {
            return Promise.reject(error);
          }{{# unless table.isEager }} finally {
            setIsLoading(false);
          }{{/ unless }}
        };
      {{/ if }}
    {{/ each }}

    const actions: {{ containerComponentName page.container }}PageActions = {
      getPageTitle,
      {{# each page.actions as |action| }}
        {{ simpleActionDefinitionName action.actionDefinition }},
      {{/ each }}
      {{# unless page.container.form }}
        getMask,
      {{/ unless }}
      {{# unless page.container.table }}
        {{# each page.container.links as |link| }}
          get{{ firstToUpper link.relationType.name }}Mask,
        {{/ each }}
        {{# each page.container.tables as |table| }}
          get{{ firstToUpper table.relationName }}Mask,
        {{/ each }}
      {{/ unless }}
      {{# each page.container.tables as |table| }}
        {{# if table.isInlineEditable }}
          apply{{ firstToUpper table.relationName }}RowEdit,
        {{/ if }}
      {{/ each }}
      ...(customActions ?? {}),
    };

    // ViewModel setup
    const viewModel: {{ containerComponentName page.container }}ViewModel = {
      actions,
      isLoading,
      setIsLoading,
      refreshCounter,
      editMode,
      setEditMode,
      refresh,
      {{# unless page.container.table }}
        data,
        validation,
        setValidation,
        storeDiff,
        submit,
        isFormUpdateable,
        isFormDeleteable,
      {{/ unless }}
      {{# if page.container.isSelector }}
        selectionDiff,
      {{/ if }}
    };

    // Effect section
    {{# if (pageShouldInitialize page) }}
      useEffect(() => {
        (async () => {
          {{# if (isSingleAccessPage page) }}
            const res = await getSingletonPayload();
            if (res?.__signedIdentifier) {
              singletonHost.current = res;
              owner.current = res;
            } else {
              navigate('*');
              return;
            }
          {{/ if }}
          await actions.{{ simpleActionDefinitionName page.container.onInit }}!({{# if page.container.view }}getPageQueryCustomizer(){{/ if }});
        })();
      }, [{{# if (pageHasSignedId page) }}signedIdentifier{{/ if }}]);
    {{/ if }}

    {{# if (pageIsRootStateOwner page) }}
      useEffect(() => {
        const unsubscribe = subscribe('refresh:{{ getXMIID page }}', async () => {
          await refresh();
        });

        return () => {
          unsubscribe();
        };
      }, [subscribe, data, editMode]);
    {{/ if }}
  {{/ unless }}

  return (
    {{# unless (containerIsEmptyDashboard page.container) }}
      <{{ containerComponentName page.container }}ViewModelContext.Provider value={viewModel}>
        <Suspense>
          <div id="{{ getXMIID page }}" data-page-name="{{ page.name }}" />
          <PageContainerTransition>
            <{{ containerComponentName page.container }}PageContainer
              actions={actions}
              dataPath={dataPath}
              isLoading={isLoading}
              editMode={editMode}
              refreshCounter={refreshCounter}
              {{# unless (containerIsEmptyDashboard page.container) }}
                {{# if page.container.isSelector }}
                  selectionDiff={selectionDiff}
                  setSelectionDiff={setSelectionDiff}
                {{/ if }}
                {{# unless page.container.table }}
                  data={data}
                  storeDiff={storeDiff}
                  isFormUpdateable={isFormUpdateable}
                  isFormDeleteable={isFormDeleteable}
                  validation={validation}
                  setValidation={setValidation}
                  submit={submit}
                {{/ unless }}
              {{/ unless }}
            />
          </PageContainerTransition>
        </Suspense>
      </{{ containerComponentName page.container }}ViewModelContext.Provider>
    {{ else }}
      <ComponentProxy
        filter={`(&(${OBJECTCLASS}=${CUSTOM_VISUAL_ELEMENT_INTERFACE_KEY})(component=${DASHBOARD_PAGE_INTERFACE_KEY}))`}
      >
        <h1>Hello!</h1>
      </ComponentProxy>
    {{/ unless }}
  );
}
