width: {{ columnWidth column }},
type: '{{ columnType column }}',
{{# unless (isColumnSortable column) }}
    sortable: false,
{{/ unless }}
{{# if (isColumnBoolean column) }}
    align: 'center',
    renderCell: (params: GridRenderCellParams<any, {{ classDataName dataElement.target 'Stored' }}>) => {
        return params.row.{{ column.attributeType.name }} ? <MdiIcon path="check-circle" color="green" /> : <MdiIcon path="close-circle" color="red" />;
    },
{{/ if }}
{{# if (isColumnNumeric column) }}
    valueFormatter: ({ value }: GridValueFormatterParams<number>) => {
        return value && new Intl.NumberFormat(l10nLocale).format(value);
    },
{{/ if }}
{{# if (isColumnTimestamp column) }}
        valueGetter: ({ value }) => value && serviceDateToUiDate(value),
        valueFormatter: ({ value }: GridValueFormatterParams<Date>) => {
            return value && new Intl.DateTimeFormat(l10nLocale, {
                year: 'numeric',
                month: '2-digit',
                day: '2-digit',
                hour: '2-digit',
                minute: '2-digit',
                second: '2-digit',
                hour12: false
            }).format(value);
        },
{{/ if }}
{{# if (isColumnTime column) }}
        valueGetter: ({ value }) => value && serviceTimeToUiTime(value),
        valueFormatter: ({ value }: GridValueFormatterParams<Date>) => {
            return value && new Intl.DateTimeFormat(l10nLocale, {
                hour: '2-digit',
                minute: '2-digit',
                hour12: false
            }).format(value);
        },
{{/ if }}
{{# if (isColumnDate column) }}
        valueGetter: ({ value }) => value && new Date(value),
        valueFormatter: ({ value }: GridValueFormatterParams<Date>) => {
            return value && new Intl.DateTimeFormat(l10nLocale, { year: 'numeric', month: '2-digit', day: '2-digit' }).format(value);
        },
{{/ if }}
{{# if (isColumnBinary column) }}
    align: 'center',
    renderCell: (params: GridRenderCellParams<any, {{ classDataName dataElement.target 'Stored' }}>) => {
        return params.row.{{ column.attributeType.name }}
            ? <Button id="{{ createId column }}-download" startIcon={<MdiIcon path="file-document-outline" {{# neq column.attributeType.dataType.mimeTypes.size 0 }}mimeType={ { type: '{{ column.attributeType.dataType.mimeTypes.[0].type }}', subType: '{{ column.attributeType.dataType.mimeTypes.[0].subType }}' } }{{/ neq }} />} size="small" variant="text" onClick={ (event: any) => {
                event.preventDefault();
                event.stopPropagation();
                downloadFile(params.row, '{{ column.attributeType.name }}');
              } }>
                { extractFileNameFromToken(params.row.{{ column.attributeType.name }}) }
              </Button>
            : <MdiIcon path="minus" />;
    },
{{/ if }}
{{# unless (isColumnSortable column) }}
    description: t('judo.pages.table.column.not-sortable', { defaultValue: 'This column is not sortable.' }) as string,
{{/ unless }}
