import { useCallback } from 'react';
import { useTranslation } from 'react-i18next';
import { Button, Grid } from '@mui/material';
import { LoadingButton } from '@mui/lab';
import type { JudoIdentifiable } from '@judo/data-api-common';
import { MdiIcon, useJudoNavigation } from '~/components';
import {
    {{# each (getApiImportsForViewPage page) as |imp| }}
        {{ imp }},
    {{/ each }}
} from '~/generated/data-api';
import {
    {{# each (getOnlyPageActions page) as |action| }}
        {{ actionFunctionHookName action }},
    {{/ each }}
} from '../actions';

export interface PageActionsProps {
    isLoading: boolean;
    fetchData: () => Promise<void>;
    signedIdentifier?: string;
}

export function PageActions (props: PageActionsProps) {
    const { isLoading, fetchData, signedIdentifier } = props;
    const { t } = useTranslation();

    {{# each (getOnlyPageActions page) as |action| }}
        {{# unless action.isFilterAction }}
            const {{ actionFunctionName action }} = {{ actionFunctionHookName action }}();
        {{/ unless }}
    {{/ each }}

    {{# with (getTableForTablePage page) as |table| }}
        return (
            <>
                {{# each (getUniquePageActions page) as |action| }}
                    {{# if action.isRefreshAction }}
                        <Grid className="page-action" item>
                            <LoadingButton loading={isLoading} loadingPosition="start" id="page-action-refresh" startIcon={<MdiIcon path="refresh" />} onClick={ () => {{ actionFunctionName action }}(() => fetchData()) } disabled={isLoading}>
                                {t('judo.pages.table.refresh', { defaultValue: 'Refresh' })}
                            </LoadingButton>
                        </Grid>
                    {{/ if }}
                    {{# if action.isAddAction }}
                        <Grid className="page-action" item>
                            <Button id="page-action-add" startIcon={<MdiIcon path="attachment-plus" />} onClick={ () => {{ actionFunctionName action }}({ __signedIdentifier: signedIdentifier } as JudoIdentifiable<{{ classDataName table.dataElement.owner '' }}>, () => fetchData()) } disabled={isLoading}>
                                {t('judo.pages.table.add', { defaultValue: 'Add' })}
                            </Button>
                        </Grid>
                    {{/ if }}
                    {{# if action.isClearAction }}
                        <Grid className="page-action" item>
                            <Button id="page-action-clear" startIcon={<MdiIcon path="link_off" />} onClick={ () => {{ actionFunctionName action }}({ __signedIdentifier: signedIdentifier } as JudoIdentifiable<{{ classDataName table.dataElement.owner '' }}>, () => fetchData()) } disabled={isLoading}>
                                {t('judo.pages.table.clear', { defaultValue: 'Clear' })}
                            </Button>
                        </Grid>
                    {{/ if }}
                    {{# if action.isCreateAction }}
                        <Grid className="page-action" item>
                            <Button id="page-action-create" startIcon={<MdiIcon path="file_document_plus" />} onClick={ () => {{ actionFunctionName action }}({ __signedIdentifier: signedIdentifier } as JudoIdentifiable<{{ classDataName table.dataElement.owner '' }}>, () => fetchData()) } disabled={isLoading}>
                                {t('judo.pages.table.create', { defaultValue: 'Create' })}
                            </Button>
                        </Grid>
                    {{/ if }}
                {{/ each }}
            </>
        );
    {{/ with }}
}
