{{> fragment.header.hbs }}
// Page name: {{ page.name }}

import type { Dispatch, SetStateAction, FC } from 'react';
import { useState, useEffect, useCallback } from 'react';
import { useTranslation } from 'react-i18next';
import { Grid, {{ getMuiMaterialImportsForActionForm page }} } from '@mui/material';
import { LoadingButton } from '@mui/lab';
import { clsx } from 'clsx';
import type { {{ getMuiDataGridTypeImportsForPage page }} } from '@mui/x-data-grid{{ getMUIDataGridPlanSuffix }}';
import { {{ getMuiDataGridImportsForPage page }} } from '@mui/x-data-grid{{ getMUIDataGridPlanSuffix }}';
import type { DateValidationError, DateTimeValidationError, TimeValidationError } from '@mui/x-date-pickers{{ getMUIPickersPlanSuffix }}';
{{# if (hasPageDateTimePickers page) }}
    import { {{ getMuiDateTimePickerImportsForPage page }} } from '@mui/x-date-pickers{{ getMUIPickersPlanSuffix }}';
{{/ if }}
import { OBJECTCLASS } from '@pandino/pandino-api';
import { ComponentProxy } from '@pandino/react-hooks';
import type { JudoIdentifiable } from '@judo/data-api-common';
import { useSnackbar } from 'notistack';
import { MdiIcon, ModeledTabs } from '~/components';
import { columnsActionCalculator } from '~/components/table';
import { useDialog, useRangeDialog } from '~/components/dialog';
import { useL10N } from '~/l10n/l10n-context';
import { AggregationInput, AssociationButton, BinaryInput, CollectionAssociationButton, NumericInput, TrinaryLogicCombobox } from '~/components/widgets';
import { FilterOption, FilterType } from '~/components-api';
import {
    {{# each (getApiImportsForUnmappedOperationOutputAction page) as |imp| }}
        {{ imp }},
    {{/ each }}
} from '~/generated/data-api';
import {
    {{ classServiceName page.dataElement.target }}Impl,
} from '~/generated/data-axios';
import {
    useErrorHandler,
    ERROR_PROCESSOR_HOOK_INTERFACE_KEY,
    fileHandling,
    processQueryCustomizer,
    TableRowAction,
    uiDateToServiceDate,
    serviceDateToUiDate,
    uiTimeToServiceTime,
    serviceTimeToUiTime,
    stringToBooleanSelect,
    booleanToStringSelect,
} from '~/utilities';
import { baseTableConfig, baseColumnConfig, toastConfig } from '~/config';
import { CUSTOM_VISUAL_ELEMENT_INTERFACE_KEY, CustomFormVisualElementProps } from '~/custom';
import {
    {{# each (getButtonActions page) as |actionOnAction| }}
        {{ actionFunctionHookName actionOnAction page }},
    {{/ each }}
} from './actions';
{{# each page.originalPageContainer.links as |link| }}
    import { {{ linkComponentName link }} } from './components/{{ linkComponentName link }}';
{{/ each }}
{{# each page.originalPageContainer.tables as |table| }}
    import { {{ tableComponentName table }} } from './components/{{ tableComponentName table }}';
{{/ each }}

{{# each (getVisualElementsWithCustomImplementation page) as |ve| }}
    export const {{ getCustomizationComponentInterfaceKey ve }} = '{{ getCustomizationComponentInterface ve }}';
    export interface {{ getCustomizationComponentInterface ve }} extends FC<CustomFormVisualElementProps<{{ classDataName page.dataElement.target '' }}>> {}
{{/ each }}

export interface {{ pageName page }}Props {
    cancel: () => void;
    successCallback: () => void;
    entry: {{ classDataName page.dataElement.target '' }};
}

export default function {{ pageName page }}({ cancel, successCallback, entry } : {{ pageName page }}Props) {
    const { t } = useTranslation();
    const { downloadFile, extractFileNameFromToken, uploadFile } = fileHandling();
    const { locale: l10nLocale } = useL10N();
    const { enqueueSnackbar } = useSnackbar();
    const { openRangeDialog } = useRangeDialog();

    const [isLoading, setIsLoading] = useState<boolean>(false);
    const [data, setData] = useState<{{ classDataName page.dataElement.target '' }}>({ ...entry });
    const [validation, setValidation] = useState<Map<keyof {{ classDataName page.dataElement.target '' }}, string>>(new Map<keyof {{ classDataName page.dataElement.target '' }}, string>());
    const [editMode, setEditMode] = useState<boolean>(false);
    const [payloadDiff] = useState<Record<keyof {{ classDataName page.dataElement.target '' }}, any>>({} as unknown as Record<keyof {{ classDataName page.dataElement.target '' }}, any>);

    {{# if isDebugPrint }}// include: actor/src/fragments/page/store-diff-body.hbs{{/ if }}
    {{> actor/src/fragments/page/store-diff-body.hbs classType=page.dataElement.target suffix='' }}

    {{# each (getButtonActions page) as |action| }}
        const {{ actionFunctionName action }} = {{ actionFunctionHookName action }}();
    {{/ each }}
    {{# if (titleComesFromAttribute page) }}
        const title: string = data.{{ page.titleAttribute.name }} as string;
    {{ else }}
        const title: string = t('{{ getTranslationKeyForPage page }}', { defaultValue: '{{ page.label }}' });
    {{/ if }}

    {{# if isDebugPrint }}// include: actor/src/fragments/page/unmapped-form-flags.hbs{{/ if }}
    {{> actor/src/fragments/page/unmapped-form-flags.hbs }}

    // dummy function to not break underlying component APIs
    const submit = async () => {};

    return (
        {{# with (getDataContainerForPage page) as |rootChild| }}
            <>
                <DialogTitle>
                    {title}
                    <IconButton
                        id="{{ createId page }}-output-view-close"
                        aria-label="close"
                        onClick={ () => cancel() }
                        sx={ {
                            position: 'absolute',
                            right: 8,
                            top: 8,
                            color: (theme) => theme.palette.grey[500],
                        } }
                    >
                        <MdiIcon path="close" />
                    </IconButton>
                </DialogTitle>
                <DialogContent dividers>
                    <Grid container spacing={2} direction="{{# if rootChild.isDirectionHorizontal }}row{{ else }}column{{/ if }}" alignItems="{{ alignItems rootChild }}" justifyContent="{{ justifyContent rootChild }}">
                        {{# each rootChild.children as |child| }}
                            {{# unless (excludeWidgetFromTree child) }}
                                {{# if isDebugPrint }}{/* include: getWidgetTemplate() */}{{/ if }}
                                {{> (getWidgetTemplate child) }}
                            {{/ unless }}
                        {{/ each }}
                    </Grid>
                </DialogContent>
                <DialogActions>
                    <Button id="{{ createId page }}-output-view-action-close" variant="contained" onClick={ () => cancel() } disabled={isLoading}>
                        { t('judo.modal.close', { defaultValue: 'Close' }) as string }
                    </Button>
                </DialogActions>
            </>
        {{/ with }}
    );
}
