{{> fragment.header.hbs }}

import { lazy, Suspense } from 'react';
import type { {{ containerComponentName page.container }}ActionDefinitions } from '~/containers/{{ containerPath page.container }}/{{ containerComponentName page.container }}';

const {{ containerComponentName page.container }}PageContainer = lazy(() => import('~/containers/{{ containerPath page.container }}/{{ containerComponentName page.container }}PageContainer'));

// Name: {{ page.name }}
export default function {{ pageName page }}() {
  return (
    <>
      <h1>Yo</h1>
      <p>from: {{ page.name }}</p>
      <Suspense>
        <div>palceholder</div>
      </Suspense>
    </>
  );
}
