import { {{ containerComponentName page.container }} } from '~/containers/{{ containerPath page.container }}';
import type { {{ containerComponentName page.container }}Props } from '~/containers/{{ containerPath page.container }}';

// Name: {{ page.name }}
export default function {{ pageName page }}() {
  return (
    <>
      <h1>Yo</h1>
      <p>from: {{ page.name }}</p>
    </>
  );
}
