{{> fragment.header.hbs }}

import { {{# unless page.container.table }}useCallback, useEffect, useRef, {{/ unless }}useState, useMemo, lazy, Suspense, createContext, useContext } from 'react';
{{# unless (containerIsEmptyDashboard page.container) }}
  import type { FC, ReactNode, Dispatch, SetStateAction } from 'react';
  import { OBJECTCLASS } from '@pandino/pandino-api';
  import { useTrackService } from '@pandino/react-hooks';
  import type { JudoIdentifiable } from '~/services/data-api/common';
  import { useTranslation } from 'react-i18next';
  import { v4 as uuidv4 } from 'uuid';
  {{# if (pageHasSignedId page) }}
  import { useParams } from 'react-router-dom';
  {{/ if }}
  {{# if (containerHasTable page.container) }}
  import type { GridFilterModel } from '@mui/x-data-grid{{ getMUIDataGridPlanSuffix }}';
  import type { Filter, FilterOption } from '~/components-api';
  {{/ if }}
  import { useJudoNavigation } from '~/components';
  import { useConfirmDialog, useDialog, useFilterDialog } from '~/components/dialog';
  import { useSnacks, useCRUDDialog, useViewData } from '~/hooks';
  import {
    {{# if (hasPageRequiredBy page) }}passesLocalValidation,{{/ if }}
    processQueryCustomizer,
    {{# if (containerHasDateInput page.container) }}uiDateToServiceDate,{{/ if }}
    {{# if (containerHasTimeInput page.container) }}uiTimeToServiceTime,{{/ if }}
    useErrorHandler,
    isErrorNestedValidationError,
    cleanUpPayload,
  } from '~/utilities';
  import type {
    DialogResult,
  } from '~/utilities';
  {{# each (getRelatedPages page) as |relatedPage| }}
    import { routeTo{{ pageName relatedPage }} } from '~/routes';
  {{/ each }}
  {{# each (getRelatedDialogs page true) as |relatedDialog| }}
    import { use{{ pageName relatedDialog }} } from '~/dialogs/{{ pagePath relatedDialog }}';
  {{/ each }}
  import type { {{ containerComponentName page.container }}DialogActions, {{ containerComponentName page.container }}DialogProps } from '~/containers/{{ containerPath page.container }}/{{ containerComponentName page.container }}DialogContainer';
  import type {
    {{# each (getApiImportsForPage page) as |imp| }}
      {{ imp }},
    {{/ each }}
  } from '~/services/data-api';
  {{# if (getServiceImplForPage page) }}
    import { judoAxiosProvider } from '~/services/data-axios/JudoAxiosProvider';
    import { {{ getServiceClassForPage page }} } from '~/services/data-axios/{{ getServiceClassForPage page }}';
  {{/ if }}
{{/ unless }}

{{# unless (containerIsEmptyDashboard page.container) }}
  export type {{ containerComponentName page.container }}DialogActionsExtended = {{ containerComponentName page.container }}DialogActions & {
    {{# each (getAllCallOperationActions page) as |action| }}
      post{{ firstToUpper (simpleActionDefinitionName action.actionDefinition) }}?: ({{{ postCallOperationActionParams page action.actionDefinition }}}) => Promise<void>;
    {{/ each }}
    {{# with (getRefreshActionDefinitionForContainer page.container) as |refreshActionDefinition| }}
      post{{ firstToUpper (simpleActionDefinitionName refreshActionDefinition) }}?: ({{{ postRefreshActionParams page refreshActionDefinition }}}) => Promise<void>;
    {{/ with }}
    {{# with (getGetTemplateActionDefinitionForContainer page.container) as |getTemplateActionDefinition| }}
      post{{ firstToUpper (simpleActionDefinitionName getTemplateActionDefinition) }}?: ({{{ postGetTemplateActionParams page getTemplateActionDefinition }}}) => Promise<void>;
    {{/ with }}
    {{# with (getCreateDefinitionForContainer page.container) as |createActionDefinition| }}
      post{{ firstToUpper (simpleActionDefinitionName createActionDefinition) }}?: ({{{ postCreateActionParams page createActionDefinition }}}) => Promise<void>;
    {{/ with }}
  };

  export const {{ camelCaseNameToInterfaceKey (pageName page) }}_ACTIONS_HOOK_INTERFACE_KEY = '{{ camelCaseNameToInterfaceKey (pageName page) }}_ACTIONS_HOOK';
  export type {{ containerComponentName page.container }}ActionsHook = (
    ownerData: any,
    data: {{ dialogDataType page }}{{# if page.container.table }}[]{{/ if }},
    editMode: boolean,
    {{# unless page.container.table }}
    storeDiff: (attributeName: keyof {{ classDataName (getReferenceClassType page) '' }}, value: any) => void,
    {{/ unless }}
    {{# if page.container.isSelector }}
    selectionDiff: {{ dialogDataType page }}[],
    {{/ if }}
    {{# if (containerIsRefreshable page.container) }}
    refresh: () => Promise<void>,
    {{/ if }}
    submit: () => Promise<void>,
  ) => {{ containerComponentName page.container }}DialogActionsExtended;

  export interface {{ containerComponentName page.container }}ViewModel extends {{ containerComponentName page.container }}DialogProps {
    setIsLoading: Dispatch<SetStateAction<boolean>>;
    setEditMode: Dispatch<SetStateAction<boolean>>;
    refresh: () => Promise<void>;
    submit: () => Promise<void>;
    {{# unless page.container.isSelector }}
    templateDataOverride?: Partial<{{ classDataName (getReferenceClassType page) '' }}>;
    {{/ unless }}
    isDraft?: boolean;
  };

  {{> actor/src/fragments/page/view-model-context.fragment.hbs page=page }}

  export const use{{ pageName page }} = (): ({{{ getDialogOpenParameters page }}}) => Promise<DialogResult<
    {{# if (pageHasOutputTarget page) }}
      {{# if (pageHasOutputTarget page) }}{{ classDataName (getPageOutputTarget page) 'Stored' }}{{ else }}void{{/ if }}
    {{ else }}
      {{ dialogDataType page }}{{# if page.container.table }}[]{{/ if }}
    {{/ if }}
  >> => {
    const [createDialog, closeDialog] = useDialog();

    return ({{{ getDialogOpenParameters page }}}) => new Promise((resolve) => {
      createDialog({
        {{# if page.dialogSize }}
            fullWidth: true,
            maxWidth: '{{ toLower page.dialogSize.name }}',
        {{/ if }}
        onClose: async (event: object, reason: string) => {
          if (reason !== 'backdropClick') {
            await closeDialog();
            resolve({
              result: 'close',
            });
          }
        },
        children: (
          <{{ pageName page }}
            ownerData={ownerData}
            {{# and (isPageDataElementUnmappedSingle page) page.container.view }}data={data}{{/ and }}
            {{# if page.container.isRelationSelector}}
            alreadySelected={alreadySelected}
            {{/ if }}
            {{# unless page.container.isSelector }}
            templateDataOverride={templateDataOverride}
            {{/ unless }}
            isDraft={isDraft}
            {{# unless page.container.table }}
            ownerValidation={ownerValidation}
            {{/ unless }}
            onClose={async () => {
              await closeDialog();
              resolve({
                result: 'close',
              });
            }}
            onSubmit={async ({{# if (dialogHasResult page) }}result, {{/ if }}isDraft) => {
              await closeDialog();
              resolve({
                result: isDraft ? 'submit-draft' : 'submit',
                {{# if (dialogHasResult page) }}
                data: result,
                {{/ if }}
              });
            }}
          />
        ),
      });
    });
  }

  {{# unless page.container.table }}
    {{# if isDebugPrint }}// include: actor/src/fragments/page/payload-converter.fragment.hbs{{/ if }}
    {{> actor/src/fragments/page/payload-converter.fragment.hbs classType=page.dataElement.target page=page }}
  {{/ unless }}

  const {{ containerComponentName page.container }}DialogContainer = lazy(() => import('~/containers/{{ containerPath page.container }}/{{ containerComponentName page.container }}DialogContainer'));
{{/ unless }}

export interface {{ pageName page }}Props {
  ownerData: any;
  {{# and (isPageDataElementUnmappedSingle page) page.container.view }}data: {{ classDataName (getReferenceClassType page) '' }};{{/ and }}
  {{# if page.container.isRelationSelector }}alreadySelected: {{ classDataName (getReferenceClassType page) 'Stored' }}[];{{/ if }}
  {{# unless page.container.isSelector }}templateDataOverride?: Partial<{{ classDataName (getReferenceClassType page) '' }}>;{{/ unless }}
  isDraft?: boolean;
  ownerValidation?: (data: {{ dialogBareDataType page }}) => Promise<void>;
  onClose: () => Promise<void>;
  {{# if (pageHasOutputTarget page) }}
  onSubmit: (result?: {{ classDataName (getPageOutputTarget page) 'Stored' }}, isDraft?: boolean) => Promise<void>;
  {{ else }}
  onSubmit: (result?: {{ dialogDataType page }}{{# if page.container.table }}[]{{/ if }}, isDraft?: boolean) => Promise<void>;
  {{/ if }}
}

// XMIID: {{ getXMIID page }}
// Name: {{ page.name }}
export default function {{ pageName page }}(props: {{ pageName page }}Props) {
  const { ownerData, {{# and (isPageDataElementUnmappedSingle page) page.container.view }}data: output, {{/ and }}{{# if page.container.isRelationSelector }}alreadySelected, {{/ if }}{{# unless page.container.isSelector }}templateDataOverride, {{/ unless }}onClose, onSubmit, isDraft, ownerValidation } = props;

  {{# unless (containerIsEmptyDashboard page.container) }}
    // Services
    const {{ firstToLower (getServiceImplForPage page) }} = useMemo(() => new {{ getServiceClassForPage page }}(judoAxiosProvider), []);

    // Hooks section
    const { t } = useTranslation();
    const { showSuccessSnack, showErrorSnack } = useSnacks();
    const { navigate, back: navigateBack } = useJudoNavigation();
    const { openFilterDialog } = useFilterDialog();
    const { openConfirmDialog } = useConfirmDialog();
    const { setLatestViewData } = useViewData();
    const handleError = useErrorHandler();
    const openCRUDDialog = useCRUDDialog();
    const [createDialog, closeDialog] = useDialog();

    // State section
    const [isLoading, setIsLoading] = useState<boolean>(false);
    const [editMode, setEditMode] = useState<boolean>({{# if page.container.form }}true{{ else }}false{{/ if }});
    const [refreshCounter, setRefreshCounter] = useState<number>(0);
    const [data, setData] = useState<{{ dialogDataType page }}{{# if page.container.table }}[]{{/ if }}>(
      {{# if page.container.table }}
        []
      {{ else }}
        {{# and (isPageDataElementUnmappedSingle page) page.container.view }}output{{ else }}{}{{/ and }} as {{ classDataName (getReferenceClassType page) 'Stored' }}
      {{/ if }}
    );
    {{# if page.container.isSelector }}
      const [selectionDiff, setSelectionDiff] = useState<{{ dialogDataType page }}[]>([]);
    {{/ if }}
    {{# unless page.container.table }}
      const [validation, setValidation] = useState<Map<keyof {{ classDataName (getReferenceClassType page) '' }}, string>>(new Map<keyof {{ classDataName (getReferenceClassType page) '' }}, string>());

      // Ref section
      const payloadDiff = useRef<Record<keyof {{ classDataName (getReferenceClassType page) 'Stored' }}, any>>({} as unknown as Record<keyof {{ classDataName (getReferenceClassType page) 'Stored' }}, any>);

      // Callback section
      const storeDiff: (attributeName: keyof {{ classDataName (getReferenceClassType page) '' }}, value: any) => void = useCallback((attributeName: keyof {{ classDataName (getReferenceClassType page) '' }}, value: any) => {
        {{# if isDebugPrint }}// include: actor/src/fragments/page/store-diff-body.hbs{{/ if }}
        {{> actor/src/fragments/page/store-diff-body.hbs classType=page.dataElement.target page=page }}
      }, [data, editMode]);
      const isFormUpdateable = useCallback(() => {
        {{# if page.container.form }}
          return true;
        {{ else }}
          return {{ boolValue (isPageUpdateable page) }} && typeof data?.__updateable === 'boolean' && data?.__updateable;
        {{/ if }}
      }, [data]);
      const isFormDeleteable = useCallback(() => {
        {{# if page.container.form }}
          return false;
        {{ else }}
          return {{ boolValue (isPageDeleteable page) }} && typeof data?.__deleteable === 'boolean' && data?.__deleteable;
        {{/ if }}
      }, [data]);

      {{# if page.container.view }}
        const getPageQueryCustomizer: () => {{ classDataName (getReferenceClassType page) 'QueryCustomizer' }} = () => ({
          _mask: actions.getMask ? actions.getMask!() : '{{ getMaskForView page.container }}',
        });
      {{/ if }}
    {{/ unless }}

    // Private actions
    const submit = async () => {
      {{# with (getCreateActionForPage page) as |action| }}
        await {{ simpleActionDefinitionName action.actionDefinition }}();
      {{/ with }}
      {{# with (getUpdateActionForPage page) as |action| }}
        await {{ simpleActionDefinitionName action.actionDefinition }}();
      {{/ with }}
      {{# with (getCallOperationActionForPage page) as |action| }}
        await {{ simpleActionDefinitionName action.actionDefinition }}();
      {{/ with }}
    };
    const refresh = async () => {
      {{# if page.container.table }}
        setRefreshCounter((prev) => prev + 1);
      {{/ if }}
      {{# if page.container.view }}
        {{# with (getRefreshActionDefinitionForContainer page.container) as |refreshActionDefinition| }}
          if (actions.{{ simpleActionDefinitionName refreshActionDefinition }}) {
            await actions.{{ simpleActionDefinitionName refreshActionDefinition }}!(processQueryCustomizer(getPageQueryCustomizer()));
          }
        {{/ with }}
      {{/ if }}
    };

    // Pandino Action overrides
    const { service: customActionsHook } = useTrackService<{{ containerComponentName page.container }}ActionsHook>(`(${OBJECTCLASS}=${ {{~ camelCaseNameToInterfaceKey (pageName page) }}_ACTIONS_HOOK_INTERFACE_KEY})`);
    const customActions: {{ containerComponentName page.container }}DialogActionsExtended | undefined = customActionsHook?.(
      ownerData,
      data,
      editMode
      {{# unless page.container.table }}, storeDiff{{/ unless }}
      {{# if page.container.isSelector }}, selectionDiff{{/ if }}
      {{# if (containerIsRefreshable page.container) }}
      , refresh
      {{/ if }}
      , submit
    );

    // Dialog hooks
    {{# each (getRelatedDialogs page false) as |relatedDialog| }}
      const open{{ pageName relatedDialog }} = use{{ pageName relatedDialog }}();
    {{/ each }}

    // Action section
    {{> actor/src/pages/actions/_getPageTitle.fragment.hbs }}
    {{# each page.actions as |action| }}
      {{> (getActionTemplate action) }}
    {{/ each }}

    const actions: {{ containerComponentName page.container }}DialogActions = {
      getPageTitle,
      {{# each page.actions as |action| }}
        {{ simpleActionDefinitionName action.actionDefinition }},
      {{/ each }}
      ...(customActions ?? {}),
    };

    // ViewModel setup
    const viewModel: {{ containerComponentName page.container }}ViewModel = {
      onClose,
      actions,
      ownerData,
      isLoading,
      setIsLoading,
      editMode,
      setEditMode,
      refresh,
      refreshCounter,
      submit,
      {{# if page.container.isRelationSelector }}
      alreadySelected,
      {{/ if }}
      {{# unless page.container.table }}
        data,
        validation,
        setValidation,
        storeDiff,
        isFormUpdateable,
        isFormDeleteable,
      {{/ unless }}
      {{# if page.container.isSelector }}
        selectionDiff,
        setSelectionDiff,
      {{/ if }}
      {{# unless page.container.isSelector }}
        templateDataOverride,
      {{/ unless }}
      isDraft,
    };

    // Effect section
    {{# if (pageShouldInitialize page) }}
      useEffect(() => {
        actions.{{ simpleActionDefinitionName page.container.onInit }}!({{# if page.container.view }}getPageQueryCustomizer(){{/ if }});
      }, []);
    {{ else }}
      {{# if page.container.form }}
        useEffect(() => {
          if (templateDataOverride) {
            setData((prevData) => ({ ...prevData, ...templateDataOverride }));
            payloadDiff.current = {
              ...(templateDataOverride as Record<keyof {{ classDataName (getReferenceClassType page) 'Stored' }}, any>),
            };
          }
        }, []);
      {{/ if}}
    {{/ if }}
  {{/ unless }}

  return (
    {{# unless (containerIsEmptyDashboard page.container) }}
      <{{ containerComponentName page.container }}ViewModelContext.Provider value={viewModel}>
        <Suspense>
          <div id="{{ getXMIID page }}" data-page-name="{{ page.name }}" />
          <{{ containerComponentName page.container }}DialogContainer
            ownerData={ownerData}
            onClose={onClose}
            actions={actions}
            isLoading={isLoading}
            editMode={editMode}
            refreshCounter={refreshCounter}
            {{# unless (containerIsEmptyDashboard page.container) }}
              {{# if page.container.isSelector }}
                selectionDiff={selectionDiff}
                setSelectionDiff={setSelectionDiff}
              {{/ if }}
              {{# if page.container.isRelationSelector }}
                alreadySelected={alreadySelected}
              {{/ if }}
              {{# unless page.container.table }}
                data={data}
                storeDiff={storeDiff}
                isFormUpdateable={isFormUpdateable}
                isFormDeleteable={isFormDeleteable}
                validation={validation}
                setValidation={setValidation}
                submit={submit}
              {{/ unless }}
              isDraft={isDraft}
            {{/ unless }}
          />
        </Suspense>
      </{{ containerComponentName page.container }}ViewModelContext.Provider>
    {{ else }}
      <h1>Hello!</h1>
    {{/ unless }}
  );
}
